
.welcomeContainer{
    margin-bottom: 1%;
    background-color: #fce3c5;
}
.headingContainer{
    border-bottom: '10px solid black';
}
.headingText{
    font-size: 20px;
    text-align: center;
    color:black;
    font-weight: bold;
}
.instructionsContainerText {
    font-size: medium;
    text-align: center;
}
.buttonContainer{
    text-align:center;
    margin-top: '30%';
}