.questionContainer{
    background-color:#faefe1 !important;
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;  
    padding:2.5%;
    margin-bottom: 2.5%;
}
.circularProgress{
    height:300px;
    text-align: center;
    justify-content: center;
}
.questionText{
    text-align: center;
    margin-bottom: 10%;
}
.optionsContainer{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.nextButtonContainer{
    text-align:center;
    margin-top: 2.5%"";
}
.subHeaderText{
    text-decoration-line: underline;
    text-align: center;
    text-decoration-style: solid;
    text-decoration-color: coral;
    bottom: 1px;
    border-width: 0 0 1px;
}